body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
	background-image: url("../img/fondo_be.png") !important;
	background-repeat: no-repeat !important;
	background-position: right top !important;
	margin: 0;
	margin-bottom: 40px;
	height:100%;
}


.top-nav-links,
.side-nav,
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #363637;
}

a {
    color:#E0DD00 !important;
    -webkit-transition:all 0.2s linear;
    transition:all 0.2s linear;
}

a:hover,
a:focus,
a:active  {
    color:#F18627 !important;
    -webkit-transition:all 0.2s easeout;
    transition:all 0.2s ease-out;
}

.side-nav a,
.top-nav-links a,
th a,
.actions a {
    color: #606c76;
}

.side-nav a:hover,
.side-nav a:focus,
.actions a:hover,
.actions a:focus {
    color:#2f85ae;
}

/* Utility */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Main */
body {
    background: #2B293A;
}
.content {
    padding: 2rem;
    border-radius: 0.4rem;
    /* Thanks Stripe */
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
.actions a {
    font-weight: bold;
    padding: 0 0.4rem;
}
th {
    white-space: nowrap;
}

/* Nav bar */
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 112rem;
    padding: 2rem;
    margin: 0 auto 2rem;
}
.top-nav-title a {
    font-size: 2.4rem;
    color: #d33c43;
}
.top-nav-title span {
    color: #404041;
}
.top-nav-links a {
    margin: 0 0.5rem;
}
.top-nav-title a,
.top-nav-links a {
    font-weight: bold;
}

a.nav-link {
	color: #E0DD00;
	font-size: 20px;
	font-family: Gotham, Helvetica, Arial, sans-serif;
	padding:1rem !important;
}

.side-nav-item {
    display: block;
    padding: 0.5rem 0;
}

.custom-toggler.navbar-toggler {
	border-color: #E0DD00;
}

.custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(224, 221, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}


.my-footer {
    background-color: #E0DD00;
	text-align:center;
    text-almy-footergn: center;
    font-size: 14px;
    width: 100%;
    height: 40px !important;
    font-family: "AvenirBook" !important;
	position: relative !important;
	bottom: 0 !important;

}



/* View action */
.view.content .text {
    margin-top: 1.2rem;
}
.related {
    margin-top: 2rem;
}

/* Flash messages */
.message {
    padding: 1rem;

    background: #eff8ff;
    color: #2779bd;

    border-color: #6cb2eb;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
}
.message.hidden {
    display: none;
}
.message.success {
    background: #e3fcec;
    color: #1f9d55;
    border-color: #51d88a;
}
.message.error {
    background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
}

/* Forms */
.input.radio,
.input.checkbox {
    margin-bottom: 2.0rem;
}
.input.radio input,
.input.checkbox input {
    margin: 0;
}
.input.radio label,
.input.checkbox label {
    margin: 0;
    display: flex;
    align-items: center;
}
.input.radio label > input,
.input.checkbox label > input {
    margin-right: 1.0rem;
}
.input.radio label:first-of-type {
    margin-bottom: 2.0rem;
}

/* Paginator */
.paginator {
    text-align: right;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
}
.pagination li {
    margin: 0 0.5rem;
}
.prev.disabled a,
.next.disabled a {
    cursor: not-allowed;
    color: #606c76;
}
.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

/* Error */
.error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}


@media screen and (min-width: 100px) {
	.caja {
		width: 100px;
	}
	.be-verde-azul {
		width: 100%;
	}
	.logo {
		width: 250px;
	}

	.my-orange-col {
		background-color: #F18627;
		margin-bottom: 0.2rem;
		border: 1px solid #3D2533;
		border-top-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		font-size: 20px;
	}

	.my-yellow-col {
		background-color: #E0DD00;
		margin-bottom: 0.2rem;
		border: 1px solid #3D2533;
		border-top-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		font-size: 20px;
	}

	.altura-seccion {
		height: 280px;
	}

	.ppimg {
		width: 800px;
	}

	.usimg {
		width: 750px;
	}

	.espacio-izq {
		margin-left: 5px;
	}
}

@media screen and (min-width: 640px) {
    .top-nav {
        margin: 0 auto;
    }
    .side-nav {
        margin-bottom: 1rem;
    }
    .heading {
        margin-bottom: 1rem;
    }
    .side-nav-item {
        display: inline;
        margin: 0 1.5rem 0 0;
    }
	.caja {
		width: 80px;
	}
	.be-verde-azul {
		width: 100%;
	}
    .asc:after {
        content: " \2192";
    }
    .desc:after {
        content: " \2190";
    }
	
	.my-orange-col {
		background-color: #F18627;
		margin-bottom: 0.5rem;
		border: 1px solid #3D2533;
		border-top-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		color: #3D2533;
		font-size: 20px;
	}

	.my-yellow-col {
		background-color: #E0DD00;
		margin-bottom: 0.5rem;
		border: 1px solid #3D2533;
		border-top-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		color: #3D2533;
		font-size: 20px;
	}

	.logo {
		width: 250px;
	}

	.ppimg {
		width: 800px;
	}

	.usimg {
		width: 750px;
	}

	.espacio-izq {
		margin-left: 10px;
	}
}


@media all and (min-width: 992px) {

	.dropdown-menu li{
		position: relative;
	}
	.dropdown-menu .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.dropdown-menu .submenu-left{ 
		right:100%; left:auto;
	}

	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}

	.dropdown-menu .dropdown-menu{
		#margin-left:0.1rem; 
		#margin-right:0.7rem; 
		margin-bottom: .5rem;
	}

	.caja {
		width: 120px;
	}

	.be-verde-azul {
		width: 100%;
	}

	.my-orange-col {
		background-color: #F18627;
		border: 3px solid #3D2533;
		margin-bottom: 0.5rem;
		border-top-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		color: #3D2533;
		font-size: 20px;
	}

	.my-yellow-col {
		background-color: #E0DD00;
		border: 3px solid #3D2533;
		margin-bottom: 0.5rem;
		border-top-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		color: #3D2533;
		font-size: 20px;
	}

	.logo {
		width: 320px;
	}

	.altura-seccion {
		height: 100px;
	}

	.ppimg {
		width: 970px;
	}

	.usimg {
		width: 870px;
	}

	.espacio-izq {
		margin-left: 20px;
	}
}


@media all and (min-width: 1600px) {
	.caja {
		width: 170px;
	}

	.be-verde-azul {
		width: 100%;
	}

	.my-orange-col {
		background-color: #F18627;
		padding: 5px;
		border: 3px solid #3D2533;
		border-top-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		color: #3D2533;
		font-size: 30px;
	}

	.my-yellow-col {
		background-color: #E0DD00;
		padding: 5px;
		border: 3px solid #3D2533;
		border-top-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		color: #3D2533;
		font-size: 30px;
	}

	.logo {
		width: 450px;
	}

	.altura-seccion {
		height: 100px;
	}

	.ppimg {
		width: 1500px;
	}

	.usimg {
		width: 1100px;
	}

	.espacio-izq {
		margin-left: 50px;
	}
}


/* ============ desktop view .end// ============ */

ul.dropdown-menu.show, ul.submenu.dropdown-menu {
	background-color: #3D2533 !important;
	border: 1px #E0DD00 solid;
}

a.dropdown-item {
	color: #E0DD00 !important;
}

a.dropdown-item:active, a.dropdown-item:visited, a.dropdown-item:link {
	color: #F18627 !important;
	background-color: #3D2533 !important;
}

a.dropdown-item:hover {
	color: #2B293A !important;
	background-color: #E0DD00 !important;
}

.tabcontents {
	/* height: 500px;
	background-color: #F18627 !important;  */
	color: white;
	font-size: 22px;
}

.tabtitle {
	background-color: #2B293A !important;
	color: #F18627 !important;
	margin-bottom: 0px !important;
	margin: 5px;
}

.tabtop {
	margin: -3px;
	border-bottom: 0px solid #dee2e6 !important;
}

.tabcontentsheader {
	color: #3D2533;
	font-size: 30px;
	padding: 5px;
}

a.link-caja, a.link-caja:focus, a.link-caja:active a.link-caja:hover, a.link-caja:visited {
	color: #3D2533 !important;
	text-decoration: none !important;
	overflow: hidden; 
}

.orange-section {
	margin-top: 2px;
	padding: 30px 10px 30px 10px;
	background-color: #F18627;
	border-top-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	font-size: 20px;
}

.blue-section {
	
	background-color: #2B293A;
	margin-top: 2px;
	padding: 30px 10px 30px 10px;
	background-color: #2B293A;
	border-top-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	font-size: 20px;
}

.kpi {
	font-weight: bolder;
	font-size: 40px;
}

@font-face {
  font-family: 'AvenirBook';
  src: local('Avenir Book'),
       url("../font/Avenir Book.ttf") format('truetype');
}

@font-face {
  font-family: 'Gotham';
  src: local('GothamBook'),
	   url('../font/GothamBook2.woff') format('woff'),
       url('../font/GothamBook2.woff2') format('woff2'),
       url('../font/GothamBook2.ttf') format('truetype');
}

.mi-texto {
    color: white;
    font-family: "AvenirBook" !important;
    font-size: 14px;
}

.mi-texto-naranja {
	color: #F18627;
	font-family: "AvenirBook" !important;
}


.mi-titulo {
    color: #F18627;
    font-size: 35px;
    font-weight: bolder;
    font-family: "Gotham", AvenirBook !important;
}

.mi-titulo-blanco {
    color: white;
    font-size: 35px;
    font-weight: bolder;
    font-family: "Gotham" !important;
    line-height: 35px;
}

.scroll-section {
	/* height: 500px; */
	width: 100%;
	#overflow-y: scroll;
}
.scroll-section-in {
	height: auto;
}

.col-xs-2-10,
.col-sm-2-10 {
  position: relative;
  min-height: 1px;
}

@media (min-width: 900px) {
  .col-lg-2-10 {
    width: 20% !important;
    float: left;
  }
}


.gchart {
	display: inline-block; 
	margin: 0 auto;
}


.espacio-arr {
	margin-top: 50px !important;
}


.btn-cerrar {
	color: white !important;
	font-style: italic;
	font-weight: bolder;
	font-size: 20px !important;
	margin: 2px;
}

.btn-mapa {
	color: white !important;
	font-style: italic;
	font-weight: bolder;
	font-size: 20px !important;
	background-color: #F18627 !important;
	margin: 2px;
}

.btn-mapa:hover {
	color: white !important;
	background-color: #68412c !important;
}

.btn-warning2 {
	color: white !important;
	font-style: italic;
	font-weight: bolder;
	font-size: 20px !important;
	background-color: #F18627 !important;
	margin: 2px;
	width: 240px !important;
}

.btn-warning2:hover {
	color: white !important;
	background-color: #68412c !important;
}

.separador {
	margin-top: 50px !important;
	height: 10px;
}

.titulo-usuarios {
	font-style: italic;
	font-weight: bolder;
	color: #2B293A;
	font-size: 24px !important;
}

.mi-texto-usuarios {
	color: white;
	font-family: "AvenirBook" !important;
	font-size: 18px;
	line-height: normal !important;
	font-weight: bolder;
}

.center-1 {
	color: white;
	font-size: 60px;
	display: table; 
	height: 130px; 
	overflow: hidden;
	width: 100%;
}

.center-2 {
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
	width: 100%;
}


.titulo-azul {
	font-style: italic;
	font-weight: bolder;
	color: #2B293A;
	font-size: 28px !important;
}

.numero-azul {
	font-weight: bolder;
	color: #2B293A;
	font-size: 58px !important;
}

.icon-bici {
	width: 180px;
	height: 130px;
	padding: 25px;
}

.modal-morado {
	background-color: #3D2533 !important;
}

.modal-titulo {
	color: white;
	font-style: italic;
	font-size: 32px;
	width:100%;
}

.modal-subtitulo {
	color: #F18627;
	font-size: 22px;
}

.text-izq {
	text-align:left !important;
	width:100% !important;	
}


.pac-container {
    background-color: #FFF;
    z-index: 20 !important;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20 !important;   
}
.modal-backdrop{
    z-index: 10 !important;
}

.geo-data {
	font-size: 18px !important;
}

html {
  min-height: 100%;
  position: relative;
  height:100%;
}

.no-spaces {
	margin: 0px !important;
	padding: 0px !important;
}